/* General Styles*/
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	overflow-x: hidden;
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	background: #FFFFFF;
	color: #222222;
}

h1, h2, h3, h4, h5, h6, p, a, span {
	overflow: hidden;
	font-weight: 400;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: #666666;
}

input:focus {
	outline: none;
}
button {
	border: none;
}

button:hover {
	cursor: pointer;
}

.button {
	font-size: 14px;
	line-height: 18px;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
	letter-spacing: 2px;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}


/* END General Styles*/

/* Header Styles*/

.header {
	box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.15);
	padding: 25px 0;
	margin-bottom: 100px;
}

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__menu__list {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__menu__item {
	margin-right: 30px;
}

.header__menu__item:last-child {
	margin-right: 0;
}

.header__menu__link {
	font-size: 14px;
	line-height: 24px;
	position: relative;
}

.header__menu__link::after {
	content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 4px;
	background-color: #666666;
	bottom: -5px;
	left:  0;
	transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

.header__menu__item:last-child .header__menu__link:after {
	visibility: hidden;
	/* display: none; */
}


.header__menu__link.button {
	padding: 10px 25px;
	background-color: #222222;
	border-radius: 4px;
	transition: 0.3s all linear;
}

.header__menu__item:hover .header__menu__link::after	{
	transform-origin: left;
  transform: scaleX(1);
}

.header__menu__link.button:hover {
	color: #000000;
	background-color: #CCCCCC;
}

/* END Header Styles*/

/* Introduction Styles*/

.introduction {
	max-height: 540px;
	overflow-y: clip;
}

.introduction .container {
	max-width: 1170px;
	margin: 0 auto;
}

.introduction__inner {
	display: flex;
	justify-content: space-around;
}

.introduction__item {
	max-width: 420px;
}

.introduction__item__logo {
	margin-bottom: 10px;
}

.introduction__item__title {
	font-size: 54px;
	line-height: 68px;
	margin-bottom: 20px;
}

.introduction__item__text {
	margin-bottom: 20px;
}

.introduction__item__button {
	padding: 10px 25px;
	background-color: #222222;
	border-radius: 4px;
	transition: all .3s linear;
}

.introduction__item__button:hover {
	color: #000000;
	background-color: #CCCCCC;
}

/* END Introduction Styles*/

/* Features Styles */

.features {
	background-color: #222222;
	padding: 100px 0;
}

.features .container {
	max-width: 1200px;
	margin: 0 auto;
}

.features__top {
	max-width: 600px;
	margin: 0 auto;
	text-align: center;
	color: #FFFFFF;
}

.features__top__text {
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 5px;
}

.features__top__title {
	font-size: 32px;
	line-height: 36px;
	margin-bottom: 45px;
}

/* END Features Styles */